<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de CNPJ</title>
    
</head>
<body>

    <div>
        <h1>Consulta de CNPJ</h1>

        <form method="POST">
            <input type="text" name="cnpj" placeholder="Digite o CNPJ" required>
            <button type="submit">Consultar</button>
        </form>

        {% if erro %}
            <div>
                {{ erro }}
            </div>
        {% endif %}

        {% if empresa %}
            <div>
                <h2>{{ empresa.razao_social }}</h2>
                <p><strong>Nome Fantasia:</strong> {{ empresa.fantasia }}</p>
                <p><strong>Situação:</strong> {{ empresa.situacao }}</p>
                <p><strong>CNAE:</strong> {{ empresa.cnae }}</p>
                <p><strong>Endereço:</strong>
                    {{ empresa.logradouro }},
                    {{ empresa.numero }} -
                    {{ empresa.bairro }}
                </p>
                <p><strong>Cidade:</strong>
                    {{ empresa.municipio }}/{{ empresa.uf }}
                </p>
                <p><strong>CEP:</strong> {{ empresa.cep }}</p>
            </div>
        {% endif %}
    </div>

</body>
</html>