<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de CNPJ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>

    <div class="consulta">
        <h1>Consulta de CNPJ</h1>

        <form method="POST">
            <input type="text" name="cnpj" placeholder="Digite o CNPJ" required>
            <button type="submit">Consultar</button>
        </form>

        {% if erro %}
            <div>
                {{ erro }}
            </div>
        {% endif %}

        {% if empresa %}
            <div>
                <h2>{{ empresa.razao_social }}</h2>
                <p><strong>Nome Fantasia:</strong> <a href="#" onclick="copiar(this)"> {{ empresa.nome_fantasia }}</a></p>
                <p><strong>Situação:</strong> {{ empresa.situacao }}</p>
                <p><strong>CNAE:</strong> {{ empresa.cnae }}</p>
                <p><strong>Endereço:</strong> <a href="#" onclick="copiar(this)">
                    {{ empresa.logradouro }},
                    {{ empresa.numero }} -
                    {{ empresa.bairro }}
                </a></p>
                <p><strong>Cidade:</strong> 
                    <a href="#" onclick="copiar(this)">{{ empresa.municipio }}/{{ empresa.uf }}
                </a></p>
                <p><strong>CEP:</strong> <a href="#" onclick="copiar(this)">{{ empresa.cep }}</a></p>
                <p><strong>Telefone:</strong> <a href="#" onclick="copiar(this)">{{ empresa.ddd1 }} {{ empresa.telefone1 }}</a></p>
                <p><strong>Email:</strong> <a href="#" onclick="copiar(this)">{{ empresa.correio_eletronico }}</a></p>
            </div>
        {% endif %}


    </div>

    <div class="historico">
        <h1>Historico</h1>
        {% for item in historico2 %}
        <p><a href="#" onclick="copiar(this)"> {{ item[0] }}/{{ item[1] }}-{{ item[2] }}</a>  | <a href="#" onclick="copiar(this)"> {{ item[3] }}</a></p>
        {% endfor %}

    </div>

<script>
function copiar(elemento) {
    const texto = elemento.innerText
    navigator.clipboard.writeText(texto).then(() => {alert('Copiado!')})
}
</script>
</body>
</html>
